
<br />

<% @articles.each do |article| %>
	<h3><%= article. title %></h3>
	<p><%= article.text %></p>
	<p><sub>Added by <%= article.user.username %>  <%= time_ago_in_words(article.created_at) %> ago</sub>  </p>
	<p>
	<a href="<%= article_path(article)%>" class="btn btn-primary btn-sm active" role="button">Add comments</a>
	<a href="<%= edit_article_path(article)%>" class="btn btn-info btn-sm active" role="button">Edit</a>
	
	<%= link_to 'Show', article_path(article) %> <%= link_to'Edit', edit_article_path(article) %>
		<%= link_to 'Delete',
					 article_path(article),
					 	method: :delete,
					 	data: {confirm: 'Are you sure?'} %>
	
	</p>


	<br />
<% end %>